<h1>Movie Lists Maker</h1>
<%= link_to '+ Create a new list', new_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list do %>
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>)"> <%= list.name %> </div>
          <% else %>
          <div class="card-category" style="background-color: black"> <%= list.name %> </div>
        <% end %>
      <% end %>
      <%= link_to 'delete', list_path(list), method: :delete %>
    </li>
  <% end %>
</ul>
