<h1>Lists <%= @list.name %></h1>
<%= link_to 'Add new movie', new_list_bookmark_path(@list) %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %> *<%= bookmark.movie.rating  %></h2>
            <p><%= bookmark.movie.overview %></p>
            <small> <%= bookmark.comment %> </small>
            <%= link_to 'delete', list_bookmark_path(@list, bookmark), method: :delete %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'back', root_path %>
