<h1>Add Movie</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
<%= link_to 'back', list_path(@list) %>
